@model YouPizza.Model.OrderSummary

@{
    Layout = "_Layout";
}




<p>Dziękujemy za zamówienie w YouPizza ! </p>
<p> Twoje zamówienie nr: @Model.Id Będzie niedługo dostarczone na adres: @Model.StreetAdress</p>