@model Company

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}
<form enctype="multipart/form-data" method="post" asp-action="Upsert">
    <div class="row">
        <div class="col-10">
            <div class=" border p-3 mt-4 row">
                <div class="col-12 row pb-2">
                    <h2 class="text-primary">@(Model.Id == 0 ? "Create" : "Edit") Product</h2>
                    <hr/>
                </div>
                @*<div asp-validation-summary="All"></div>*@

                <input asp-for="Id" hidden/>
                <div class="mb-3">
                    <label asp-for="Name">Name</label>
                    <input asp-for="Name" class="form-control"/>
                    <span asp-validation-for="Name" class="text-danger"> </span>
                </div>

                <div class="mb-3">
                    <label asp-for="PizzaBase">PizzaBase</label>
                    <input asp-for="PizzaBase" class="form-control"/>
                    <span asp-validation-for="PizzaBase" class="text-danger"> </span>
                </div>
                <div class="mb-3">
                    <label asp-for="Size">Street</label>
                    <input asp-for="Size" class="form-control"/>
                    <span asp-validation-for="Size" class="text-danger"> </span>
                </div>

                <div class="mb-3">
                    <label asp-for="Price30">City</label>
                    <input asp-for="Price30" class="form-control"/>
                    <span asp-validation-for="Price30" class="text-danger"> </span>
                </div>
                <div class="mb-3">
                    <label asp-for="Price40">State</label>
                    <input asp-for="Price40" class="form-control"/>
                    <span asp-validation-for="Price40" class="text-danger"> </span>
                </div>
                <div class="mb-3">
                    <label asp-for="Price50">Price50</label>
                    <input asp-for="Price50" class="form-control"/>
                    <span asp-validation-for="Price50" class="text-danger"> </span>
                </div>
                <div class="mb-3">
                    <label asp-for="Alergens">Alergens</label>
                    <input asp-for="Alergens" class="form-control"/>
                    <span asp-validation-for="Alergens" class="text-danger"> </span>
                </div>
                <div class="mb-3">
                    <label asp-for="ImageUrl">ImageUrl</label>
                    <input asp-for="ImageUrl" class="form-control"/>
                    <span asp-validation-for="ImageUrl" class="text-danger"> </span>
                </div>


                <div class="col-12">
                    @if (Model.Id != 0)
                    {
                        <button type="submit" class="btn btn-primary" style="width: 150px">Update</button>
                    }
                    else
                    {
                        <button type="submit" onclick="ValidateInput()" class="btn btn-primary" style="width: 150px">Create</button>
                    }


                    <a asp-controller="Pizza" asp-action="Index" style="width: 150px" class="btn btn-secondary">Back To List</a>
                </div>
            </div>
        </div>

    </div>

</form>

@section Scripts
{
    <partial name="_ValidationScriptsPartial"/>
}