@{
    ViewBag.Title = "O Nas";
    Layout = "_Layout";
}
<div class="col-12 container-fluid bg-amber400 bgcolor=`#FFCD62`  ">
    <p class="text-center  display-1 "> Poznaj Nas !</p>
</div>
<div class="col-12 ">


    <div class="flex-row row">
        <div class="col-lg-6 col-md-10 mb-4 mb-lg-0   align-items-center mx-auto">
            <img src="/gallery/1620644401043-1024x1024.webp" class="float-start img-fluid" alt="Our Owen " height="500px">
        </div>
        <div class="col-lg-6 col-md-10 mb-4 mb-lg-0 align-items-center align-items-lg-end  ">
            <img src="/gallery/1620644424274-1024x1024.webp" class="float-end img-fluid" alt="Our Fresh Pastery" height="500px">
        </div>

    </div>

</div>
<div class="col-10 text-center m-auto">
    <h2 class="pt-4">
        JESTEŚMY YOUPIZZA !
    </h2>
    <h6 class="pt-4">
        NASZA PIZZERIA POWSTAŁA Z PASJI DO WŁOCH I PIZZY NEAPOLITAŃSKIEJ.
        DZIĘKI NIEJ I POŁĄCZENIU Z NASZYMI WŁOSKIMI KORZENIAMI JESTEŚMY W STANIE ZAOFEROWAĆ WAM SMAK TRADYCYJNEJ PIZZY NEAPOLITAŃSKIEJ.
    </h6>
    <p class="pt-4">
        To, co nas wyróżnia spośród innych pizzerii to przede wszystkim znakomite, powstałe na bazie tradycyjnego przepisu ciasto (wyłącznie z włoskiej mąki typu „00”), które wyrabiamy ręcznie każdego dnia.
    </p>
    <p class="pt-4">
        W naszej pizzerii stosujemy wyłącznie oryginalne, włoskie produkty – sami je sprowadzamy od najlepszych, lokalnych dostawców we Włoszech, po to, żeby zadbać o najwyższą ich jakość i zachować unikalny smak włoskiej pizzy neapolitańskiej.
    </p>
    <p class="pt-4">
        Jako nieliczni dysponujemy rzemieślniczym piecem kamiennym przeznaczonym do wypieku pizzy, który został sprowadzony do tego celu ze słonecznego Neapolu. Temperatura w nim sięga w nim 500 stopni, a wypiek pizzy trwa mniej niż 90 sekund. Dzięki temu, nasza pizza jest tak smaczna, tak szybko.
    </p>
</div>
<!-- Gallery -->
<div class="row">
    <div class="col-lg-4 col-md-12 mb-4 mb-lg-0">
        <img
            src="/gallery/img1.webp"
            class="w-100 shadow-1-strong rounded mb-4"
            alt="Boat on Calm Water"/>

        <img
            src="/gallery/img4.webp"
            class="w-100 shadow-1-strong rounded mb-4"
            alt="Wintry Mountain Landscape"/>
    </div>

    <div class="col-lg-4 mb-4 mb-lg-0">
        <img
            src="/gallery/img3.webp"
            class="w-100 shadow-1-strong rounded mb-4"
            alt="Mountains in the Clouds"/>

        <img
            src="/gallery/img5.webp"
            class="w-100 shadow-1-strong rounded mb-4"
            alt="Boat on Calm Water"/>
    </div>

    <div class="col-lg-4 mb-4 mb-lg-0">
        <img
            src="/gallery/img2.webp"
            class="w-100 shadow-1-strong rounded mb-4"
            alt="Waves at Sea"/>

        <img
            src="/gallery/img6.webp"
            class="w-100 shadow-1-strong rounded mb-4"
            alt="Yosemite National Park"/>
    </div>
</div>


<div class="flex-row row">
    <div class="col-lg-4 col-md-10 mb-4 mb-lg-0   align-items-center mx-auto card border-0">
        <img src="/gallery/icon_1.webp" class="float-start img-fluid" alt="Our Owen " height="500px">
        <div class="card-body text-center">
            <h5 class="card-title">JAKOŚĆ SKŁADNIKÓW</h5>
            <p class="card-text">W naszej pizzerii stosujemy wyłącznie oryginalne, włoskie produkty.</p>

        </div>
    </div>
    <div class="col-lg-4 col-md-10 mb-4 mb-lg-0 align-items-center mx-auto card border-0 ">
        <img src="/gallery/icon_3.webp" class="float-end img-fluid" alt="Our Fresh Pastery" height="500px">
        <div class="card-body text-center">
            <h5 class="card-title">BEZPŁATNA DOSTAWA</h5>
            <p class="card-text">Stosujemy oryginalne receptury, które zostały zaczerpnięte z tradycji kuchni neapolitańskiej</p>


        </div>
    </div>
    <div class="col-lg-4 col-md-10 mb-4 mb-lg-0 align-items-center mx-auto card  border-0">
        <img src="/gallery/icon_2.webp" class="float-end img-fluid" alt="Our Fresh Pastery" height="500px">
        <div class="card-body text-center">
            <h5 class="card-title">ORYGINALNE RECEPTURY</h5>
            <p class="card-text"> Stosujemy oryginalne receptury, które zostały zaczerpnięte z tradycji kuchni neapolitańskiej</p>

        </div>
    </div>

</div>