@model YouPizza.Model.ViewModel.ProductVM

@{
    var title = "Create Product";
}
<form enctype="multipart/form-data" method="post">
    <div class="row">
        <div class="col-10">
            <div class="mb-3 row p-3 border">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                <input asp-for="Product.ImageUrl" hidden/>
                <input type="hidden" asp-for="Product.Id"/>
                @if (Model.Product != null)
                {
                    //edit
                    title = "Edit Product";
                }
                <div class="mb-3 col-12 border-bottom">
                    <h2 class="text-primary">@title</h2>
                </div>
                <div class="mb-3 col-8 pt-4">
                    <div class="mb-3 form-group row">
                        <div class="col-4">
                            <label asp-for="Product.Name"></label>
                        </div>
                        <div class="col-8">
                            <input asp-for="Product.Name" class="form-control"/>
                            <span asp-validation-for="Product.Name" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="mb-3 form-group row">
                        <div class="col-4">
                            <label asp-for="Product.Description"></label>
                        </div>
                        <div class="col-8">
                            <input asp-for="Product.Description" class="form-control"/>
                            <span asp-validation-for="Product.Description" class="text-danger"></span>
                        </div>
                    </div>

                    <div class="mb-3  row">
                        <div class="col-4">
                            <label asp-for="Product.ImageUrl"></label>
                        </div>
                        <div class="col-8">
                            <input id="uploadBox" asp-for="Product.ImageUrl" name="file" type="file" class="form-control"/>
                        </div>

                    </div>

                    <div class="mb-3 form-group row">
                        <div class="col-4">
                            <label asp-for="Product.PriceSmall"></label>
                        </div>
                        <div class="col-8">
                            <input asp-for="Product.PriceSmall" class="form-control"/>
                            <span asp-validation-for="Product.PriceSmall" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="mb-3 form-group row">
                        <div class="col-4">
                            <label asp-for="Product.PriceMedium"></label>
                        </div>
                        <div class="col-8">
                            <input asp-for="Product.PriceMedium" class="form-control"/>
                            <span asp-validation-for="Product.PriceMedium" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="mb-3 form-group row">
                        <div class="col-4">
                            <label asp-for="Product.PriceLarge"></label>
                        </div>
                        <div class="col-8">
                            <input asp-for="Product.PriceLarge" class="form-control"/>
                            <span asp-validation-for="Product.PriceLarge" class="text-danger"></span>
                        </div>
                    </div>

                    <div class="mb-3 form-group row">
                        <div class="col-4">
                            <label asp-for="Product.CategoryId"></label>
                        </div>
                        <div class="col-8">
                            @Html.DropDownListFor(u => u.Product.CategoryId, Model.CategoryList, "--Choose Ingredient--", new { @class = "form-control" })
                            <span asp-validation-for="Product.CategoryId" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="mb-3 form-group row">
                        <div class="col-4 offset-4">
                            @if (Model.Product.Id == 0)
                            {
                                <button type="submit" class="btn btn-primary form-control">Create</button>
                            }
                            else
                            {
                                <button type="submit" class="btn btn-primary form-control">Update</button>
                            }
                        </div>
                        <div class="col-4">
                            <a asp-action="Index" class="btn btn-success form-control">Back to List</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-2 mt-4">
            <img src="@Model.Product.ImageUrl"
                 width="100%"

                 style="border-radius:5px; border:1px solid #bbb9b9
"/>
        </div>
    </div>
</form>

@section Scripts{
    <partial name="_ValidationScriptsPartial"/>

}